*{
  margin:0;
  padding:0;
  font-family:Impact, Charcoal, sans-serif;
}

/* Temp Project Header */
.projectHeader{
  background:linear-gradient(#333, #30A9BF);
}

.projectHeader h1{
  text-align:center;
  color:white;
  font-weight:lighter;
}

.projectHeader h2{
  text-align:center;
  color:white;
  font-weight:lighter;
}

/* Main Page */
.main{
  width:100vw;
  height:100vh;
  position:sticky;
  overflow:hidden;
  background-image:url('../images/spaceTwinkle.gif');
  background-position:center;
}

.greatWave{
  float:left;
  padding-left:1%;
}

.greatWave img{
  border-radius:90%;
  width:120px;
}

.title{
  float:left;
  color:#fff;
  font-style:italic;
  font-size:48px;
  letter-spacing:4px;
}

.nav-links{
  float:right;
}

/* Top Navigation Bar */
nav{
  position:static;
  width:auto;
  /* background-color:#D6EFFF; for debugging to see where the bounds are*/
  z-index:1;
  float:right;
  padding-right:5%;
}

.nav-links li{
  list-style-type:none;
  margin:0;
  display:inline;
}

.nav-links ul{
  margin:0;
  padding:8px;
}

.nav-links a{
  color:white;
  padding:8px;
  text-decoration:none;
}

.nav-links a:hover{
  color:#30A9BF;
}

.nav-links a:active{
  color:red;
}

.userlogin {
  float:right;
  padding:8px;
  color:white;
  text-decoration:none;
}

.loggedin {
  float:right;
  padding:8px;
  color:white;
  text-decoration:none;
}

.loggedin button{
  float:right;
}

.spaceman{
  position:sticky;
  padding-left:70%;
}

.spaceman img{
  width:400px;
  height:auto;
}

.container{
  background-color:white;
  padding:10px;
  width:300px;
  border: 3px solid #30A9BF;
  position:sticky;
  margin:150px 50px;
}

/* Pokeball Carousel */
.wheel{
  width:250px;
  height:250px;
  background-color:blue;

  position:absolute;
  left:-10%;
  top:60%;
  transform:translate(-50%, -50%);
}

.pokeball img{
  width:850px;
  height:850px;
  position:absolute;
  top:2%;
  left:-18%;
}

.card{
  width:70px;
  height:70px;

  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}
